# macOS
.DS_Store

# локальные настройки Claude Code
.claude/

# копии файлов, которые создаёт синхронизация macOS («файл 2.mp3»)
* 2.*

# настройки сервера с паролями и локальная база
server/config.php
server/data/
server/tmp/
