# Код сервера не должен открываться из браузера (на случай, если папку положили в веб-корень)
<IfModule mod_authz_core.c>
  Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
  Deny from all
</IfModule>
